<div class="row">
    <div class="col" style="text-align: center; background-color: aliceblue">

        <div class="col-md-3">
            <h2>By Player Level</h2>
            <form>
                <div class="row">
                    <label for="numberPlayer">Number of player</label>
                    <input type="number" id="numberPlayer" name="numberPlayer" value="1" min="1" max="4">
                </div>
                <div class="row">
                    <label for="averageLevel">Average Level : </label><span id="averageLevelValue"></span>
                    <input type="range" id="averageLevel" name="averageLevel" min="1" max="20" onchange="$('#averageLevelValue')[0].innerText = $('#averageLevel').val();">
                </div>
                <div class="row">
                    <input type="button" id="submitAverageLevel" value="Click" onclick="GetByAverageLevelPlayers()" />
                </div>
            </form>
        </div>
        <div class="col-md-3">
            <h2>By CR</h2>
            <div class="row">
                <label for="CR">Specific Challenge Rating: </label><span id="CRValue"></span>
                <input type="range" id="CR" name="CR" min="1" max="30" onchange="$('#CRValue')[0].innerText = $('#CR').val();">
            </div>
            <div class="row">
                <input type="button" id="submitCR" value="Click" onclick="GetGenerateByCR()" />
            </div>
        </div>
    </div>
</div>
